{% comment %} 
  poll
{% endcomment %}
{% load bootstrap5 %}
{% load fontawesome_5 %}
{% load static %}
<html>
  <head>
    <title> 한아름 투표 </title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous">
    <style>
      body {
        margin: 0;
        padding: 0;
        width: 100%;
      }
      main {
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 1000px;
        height: auto;
      }
    </style>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <main>
      <div class="row h-100 justify-content-center align-items-center">
        <div class = "col-10">
          <form action="{% url 'poll:submit' poll.id %}" method="POST">
            {% csrf_token %}
            <div class="card p-3 m-3">
              <div class="card-header text-center">
                <img class="main-icon" src= "{% static 'no-title-logo.png' %}" alt="" width="140" height="140">
                <h2 class="text-center">
                  {{ poll.title }}
                </h2>
              </div>
              <div class="card-content p-3">
                <div class="m-3">
                  <label for="nameInput" class="form-label">본명을 제대로 입력해주세요.</label>
                  <input class="form-control" id="nameInput" placeholder="홍길동" name="name">
                </div>
                <div class="option-groups p-3">
                  {% for option in poll.options.all %}
                    <div class="form-check">
                      <input class="form-check-input" type="radio" id="option-{{option.id}}" name="option" value="{{option.id}}">
                      <label class="form-check-label" for="option-{{option.id}}">
                        {{ option.content }}
                      </label>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="card-footer text-center p-1">
                <button type="submit" class="btn btn-primary m-1"> 제출 </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>


  </body>
</html>